    <div class="row mb-5 align-items-center">
      <div class="col-lg-5 pr-lg-5 mb-5 mb-lg-0">
        <img src="assets/images/DSC_0136.jpg" alt="Image placeholder" class="img-fluid">
      </div>
      <div class="col-lg-5 pl-lg-5">
        <div class="section-heading">
          <h2>About <strong>Me</strong></h2>
        </div>
        <p class="lead">I am a happy and flexible guy, 27 years of age.</p>
        <p class="mb-5  "> I am a stable employee with good spirits – always ready to lend a hand
        when needed. I am capable of handling many different technical situations - also when heated situations occur. I am a
        team player, which has been beneficial in my former employments. I am creative and a quick learner.</p>

        <div class="section-heading">
          <h2> <strong>Experience</strong></h2>
        </div>
        <p class="lead">Developer</p>
        <p class="mb-3"> Netcompany / Marts 2018 - Current</p>
        <p class="lead">Game Design Intern</p>
        <p class="mb-3"> LEGO DGA / August 2016 - Decemper 2016</p>
        <p class="lead">Swim Coach</p>
        <p class="mb-3"> Horsens Svømmeklub / 2009 - 2013</p>
       </div>       
    </div>
        <div class="row pt-5">
          <div class="col-md-3 mb-3">
            <div class="section-heading">
              <h2>My <strong>Skills</strong></h2>
            </div>
          </div>
          <div class="col-md-9">                   
            <div class="skill">
              <h3>HTML5/CSS3</h3>
              <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 95%" aria-valuenow="95" aria-valuemin="0"
                  aria-valuemax="100">
                  </div>
              </div>
            </div>        
            <div class="skill">
              <h3>Angular</h3>
              <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0"
                  aria-valuemax="100">
                </div>
              </div>
            </div>
            <div class="skill">
              <h3>C#/.Net</h3>
              <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 88%" aria-valuenow="88" aria-valuemin="0"
                  aria-valuemax="100">
                  
                </div>
              </div>
            </div>        
            <div class="skill">
              <h3>SQL</h3>
              <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 70%" aria-valuenow="70" aria-valuemin="0"
                  aria-valuemax="100">
                  
                </div>
              </div>
            </div>        
            <div class="skill">
              <h3>JavaScript/JQuery</h3>
              <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0"
                  aria-valuemax="100">                  
                </div>
              </div>
            </div>
            <div class="skill">
              <h3>Java</h3>
              <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0"
                  aria-valuemax="100">
                </div>
              </div>
            </div>
          </div>
        </div>      
